html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

:root {
  --color-link-text: #006bb3;
  --color-link-text-dark: #00a8e8;
}

#root .bn-shadcn a {
  color: var(--color-link-text);
}

@media (prefers-color-scheme: dark) {
  #root .bn-shadcn a {
    color: var(--color-link-text-dark);
  }
}

html.dark #root .bn-shadcn a {
  color: var(--color-link-text-dark)
}

#root .bn-shadcn .bn-suggestion-menu {
  max-height: inherit;
}

#root .bn-shadcn .bn-grid-suggestion-menu {
  max-height: inherit;
}

#root .bn-shadcn.dark {
  --background: 0 0% 12%;
  --card: 0 0% 12%;
  --popover: 0 0% 12%;
}
